.hero{
    top: 0;
    height: 100vh;
    background: linear-gradient(rgba(14, 59, 46, 0.35),rgba(14, 59, 46, 0.35)), url('../../assets/Hero.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* othere components */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
}

h2,p{
    margin-bottom: 25px;
}

h2{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

p{
    font-size: 18px;
    color: #E8E8E8;
}

button{
    font-size: 20px;
    font-weight:200;
    margin-right: 25px;
    cursor: pointer;
}
 

/* Mobile responsiveness */
@media (max-width: 1024px) {
    h2 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }

    button.btn1 {
        font-size: 18px;
        padding: 10px 28px;
    }

    .hero {
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    button.btn1 {
        font-size: 16px;
        padding: 8px 24px;
    }

     button.btn2 {
        font-size: 16px;
        padding: 8px 24px;
    }

    .hero {
        height: 90vh; /* slightly smaller to fit smaller screens */
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 22px;
    }

    p {
        font-size: 13px;
    }

    button.btn1 {
        font-size: 14px;
        padding: 6px 20px;
    }

    button.btn2 {
        font-size: 14px;
        padding: 6px 20px;
    }
}