.navbar {
    position: fixed;
    top: 0;
    left: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 64px;

    /* Glassmorphism effect */
    background: rgba(255, 255, 255, 0.1); /* translucent white */
    backdrop-filter: blur(14px);          /* frosted glass */
    -webkit-backdrop-filter: blur(14px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease;
}

.navbar img {
    width: 126px;
    height: auto;
    border-radius: 12px;
}

/* Desktop Menu */
.nav-menu {
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav-menu li {
    list-style: none;
    color: #0E3B2E;
    font-size: 18px;
    cursor: pointer;
}

.nav-menu li a{
    text-decoration: none;
    list-style: none;
    color: #0E3B2E;
    font-size: 18px;
    cursor: pointer;
}


/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.hamburger span {
    width: 26px;
    height: 3px;
    background-color: #0E3B2E;
    border-radius: 2px;
}

/* Mobile */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        top: 90px;
        right: 0;
         /* Glassmorphism */
        background: rgba(255, 255, 255, 0.65);
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
        /**/
        width: 100%;
        flex-direction: column;
        gap: 30px;
        padding: 30px 0;
        display: none;
        box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-menu li {
        font-size: 18px;
    }
}
