.partner{
background-color: #F6F5F1;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 20px 25px 50px 25px;
}



.partner h2,.partner p{
text-align: center;
}

.partner h2{
color: #0E3B2E;
font-size: 48px;
font-weight: bold;
margin-bottom: 20px;
}

.partner p{
color: #2B2B2B;
font-size: 18px;
margin: 0 25px 20px 25px;
}

.group {
    display: flex;
    flex-wrap: wrap;       /* allows items to go to next row */
    gap: 20px;             /* space between cards */
    justify-content: center; /* center the row if less than full width */
}

.card {
    flex: 0 1 calc(25% - 20px); /* 4 cards per row minus gap */
    display: flex;
    justify-content: center;    /* center image inside card */
    align-items: center;
}

.card img {
    width: 100%;    /* fills card width */
    max-width: 150px; /* max size for image */
    height: auto;
}

/* Tablet / smaller screens: 2 per row */
@media (max-width: 1024px) {
    .card {
        flex: 0 1 calc(50% - 20px);
    }
    .partner h2 {
        font-size: 36px;            /* reduced main heading */
        margin: 0 15px;
    }

    .partner p {
        font-size: 16px;
        margin: 15px 15px 20px 15px;
    }
}

/* Mobile: 1 per row */
@media (max-width: 480px) {
    .card {
        flex: 0 1 100%;
    }
}


