@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}
html, body {
    margin: 0;
    padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display', serif;
}

body {
  font-family: 'Inter', sans-serif;
}

.btn1 {
    padding: 10px 20px;
    background-color: #C9A44C;
    border-radius: 25px;
}